article {
    padding: 2rem;
}
h3 {
    margin-top: var(--pico-typography-spacing-top) * .5;
    margin-bottom: var(--pico-typography-spacing-vertical) * .5;
}
h3 + ul > li {
    display: inline-block;
}
h3 + ul > li::after {
    content: " • ";
}
h3 + ul > li:last-of-type::after {
    content: "";
}
ul {
    padding-left: 0;
}
ul li {
    list-style: none;
}
.container {
    margin-top: 2rem;
    max-width: 1200px;
}
.grid {
    grid-template-columns: 4fr 1fr;
    align-items: start;
}
.print-only {
    display: none;
}

@media print {
    :root {
        font-size: 85%;
    }
    article {
        margin-bottom: 0;
        padding: 0;
        background: none;
        box-shadow: none;
    }
    body {
        background-color: white !important;
    }
    h2, h3 {
        break-after: avoid;
    }
    h2, h3 {
        font-size: 1.25rem;
    }
    ul {
        break-inside: avoid;
    }
    .container {
        margin: 0;
        max-width: 100%;
        padding: 0;
    }
    .print-only {
        display: initial;
    }
}