<!doctype html>
<html lang="{{ site.data.settings.lang | default: 'en-US' }}">

<head>
  <meta charset="utf-8">
  <title>{{ site.data.settings.title | default: 'Plain Vanilla GitHub Pages' }}</title>
  <meta name="description" content="{{ site.data.settings.description | default: 'Free, easy, low-tech website template using GitHub Pages' }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.ico" sizes="any">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.{% if site.data.settings.theme %}{{ site.data.settings.theme | append: '.' }}{% endif %}min.css">
  <link rel="stylesheet" href="assets/css/custom.css">
  <style>
    :root {
      --pico-font-family-sans-serif: {% if site.data.settings.font %}{{ site.data.settings.font }}, {% endif %}-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    }
  </style>
</head>

<body>
  <main class="container">
    <article>
      {{ content }}
    </article>
  </main>
</body>

</html>